{% macro make_tab(name, fa, url, text) %}
    {% if url %}
        <a href="{{ url }}" class="seg-btn{% if tab == name %} active{% endif %}">
            <i class="fa {{ fa }}"></i> <span>{{ text }}</span>
        </a>
    {% else %}
        <span class="seg-btn{% if tab == name %} active{% endif %}">
            <i class="fa {{ fa }}"></i> <span>{{ text }}</span>
        </span>
    {% endif %}
{% endmacro %}

<div class="problem-list-header organization-header">
    <div class="problem-header-left">
        <div class="problem-header-icon">
            <i class="fa fa-university"></i>
        </div>
        <div class="problem-header-title-block">
            <h1 class="problem-header-title">{{ organization.name }}</h1>
            <span class="problem-header-subtitle">
                {% if organization.short_name and organization.short_name != organization.name %}
                    {{ organization.short_name }} &bull;
                {% endif %}
                {{ _('Organization') }}
            </span>
        </div>
    </div>
    <div class="problem-header-actions">
        {% if organization.is_admin(request.profile) %}
            {% if request.user.has_perm('judge.create_organization_problem') %}
                <a href="{{ url('problem_create_organization', organization.slug) }}" class="primary-action-btn">
                    <i class="fa fa-plus"></i> <span>{{ _('Create new problem') }}</span>
                </a>
            {% endif %}
            {% if request.user.has_perm('judge.create_private_contest') %}
                <a href="{{ url('contest_create_organization', organization.slug) }}" class="primary-action-btn">
                    <i class="fa fa-plus"></i> <span>{{ _('Create new contest') }}</span>
                </a>
            {% endif %}
        {% endif %}
        <div class="header-segmented-control">
            {{ make_tab('home', 'fa-info-circle', url('organization_home', organization.slug), _('Home')) }}
            {{ make_tab('users', 'fa-users', organization.get_users_url(), _('Users')) }}
            {{ make_tab('problem-list', 'fa-puzzle-piece', url('problem_list_organization', organization.slug), _('Problems list')) }}
            {{ make_tab('contest-list', 'fa-trophy', url('contest_list_organization', organization.slug), _('Contests list')) }}
            {{ make_tab('submission-list', 'fa-list-alt', url('submission_list_organization', organization.slug), _('Submissions')) }}
            {% if organization.is_admin(request.profile) %}
                {{ make_tab('tags', 'fa-tags', url('organization_tag_list', organization.slug), _('Manage tags')) }}
            {% endif %}
        </div>
    </div>
</div>

{% include "organization/notice.html" %}
