{% extends "submission/info-base.html" %}

{% block media %}
    <style>
        .line {
            position: relative;
        }

        .highlighter {
            position: absolute;
            width: 9999px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        a:active .line .highlighter {
            background: rgba(255, 212, 0, 0.48);
        }

        .copy-clipboard {
            margin-top: 0 !important;
        }
    </style>
{% endblock %}

{% block js_media %}
    {% compress js %}
        <script src="{{ static('libs/clipboard/clipboard.js') }}"></script>
        <script src="{{ static('libs/clipboard/tooltip.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $(document).find('pre code').each(function () {
                    var copyButton;
                    $('#editor-copy-slot').append(copyButton = $('<span>', {
                        'class': 'btn-clipboard source-copy-btn',
                        'data-clipboard-text': $(this).text(),
                        'title': {{ _('Copy source')|htmltojs }}
                    }).html('<i class="fa fa-copy"></i> ' + {{ _('Copy')|htmltojs }}));

                    $(copyButton.get(0)).mouseleave(function () {
                        $(this).attr('class', 'btn-clipboard source-copy-btn');
                        $(this).removeAttr('aria-label');
                    });

                    var curClipboard = new Clipboard(copyButton.get(0));

                    curClipboard.on('success', function (e) {
                        e.clearSelection();
                        showTooltip(e.trigger, {{ _('Copied!')|htmltojs }});
                    });

                    curClipboard.on('error', function (e) {
                        showTooltip(e.trigger, fallbackMessage(e.action));
                    });
                });
            });
        </script>
    {% endcompress %}
    {% block content_js_media %}{% endblock %}
{% endblock %}

{% block sub_nav_tabs %}
    <a href="{{ url('submission_status', submission.id) }}" class="seg-btn">
        <i class="fa fa-dashboard"></i> <span>{{ _('Status') }}</span>
    </a>

    <span class="seg-btn active">
        <i class="fa fa-code"></i> <span>{{ _('Source') }}</span>
    </span>

    <a href="{{ url('submission_source_raw', submission.id) }}" class="seg-btn" target="_blank">
        <i class="fa fa-file-text-o"></i> <span>{{ _('Raw') }}</span>
    </a>

    {% if (request.user == submission.user.user or perms.judge.resubmit_other) and not submission.language.file_only %}
        <a href="{{ url('problem_submit', submission.problem.code, submission.id) }}" class="seg-btn">
            <i class="fa fa-repeat"></i> <span>{{ _('Resubmit') }}</span>
        </a>
    {% endif %}

    {% set can_edit = submission.problem.is_editable_by(request.user) %}
    {% if perms.judge.rejudge_submission and can_edit and not submission.is_locked %}
        <script type="text/javascript">
            window.confirm_and_rejudge = function () {
                if (confirm({{ _('Are you sure you want to rejudge?')|htmltojs }})) {
                    document.getElementById('header-rejudge-form').submit();
                }
            };
        </script>
        <form id="header-rejudge-form" action="{{ url('submission_rejudge') }}" method="post" style="display:none">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ submission.id }}">
            <input type="hidden" name="path" value="{{ url('submission_status', submission.id) }}">
        </form>
        <a href="#" onclick="confirm_and_rejudge(); return false;" class="seg-btn">
            <i class="fa fa-refresh"></i> <span>{{ _('Rejudge') }}</span>
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="source-editor-card">
        <div class="editor-top-bar">
            <div class="editor-file-tab">
                <i class="fa fa-file-code-o"></i>
                <span class="editor-filename">solution.{{ submission.language.extension or 'code' }}</span>
                <span class="editor-lang-tag">{{ submission.language.name }}</span>
            </div>
            <div class="editor-actions" id="editor-copy-slot">
            </div>
        </div>

        <div class="source-wrap">
            <table>
                <tr>
                    <td class="source-ln">
                        <div>
                            {% for line in raw_source.split('\n') %}
                                <a href="#line-{{ loop.index }}" name="line-{{ loop.index }}">
                                    <pre class="line">{{ loop.index }}</pre>
                                </a>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="source-code">{{ highlighted_source }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
