{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'list' %}
    {% include "exam/exam-list-tabs.html" %}
{% endblock %}

{% block body %}
    {% if page_obj.has_other_pages() %}
        <div class="top-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}

    <div id="common-content">
        <div id="content-right" class="exams">
            <div class="info-float">
                {% include "exam/search-form.html" %}
            </div>
        </div>
        <div id="content-left" class="exams h-scrollable-table">
            <table id="exam-table" class="table striped">
                <thead>
                <tr>
                    <th class="exam-name">
                        <a href="">{{ _('Exam') }}</a>
                    </th>
                    <th class="category">
                        <a href="">{{ _('Category') }}</a>
                    </th>
                    <th class="province">
                        <a href="">{{ _('Province') }}</a>
                    </th>
                    <th class="year">
                        <a href="">{{ _('Year') }}</a>
                    </th>
                    <th class="problems">{{ _('Problems') }}</th>
                    <th class="progress">{{ _('Progress') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for exam in exams %}
                    <tr>
                        <td class="exam-name">
                            <a href="{{ url('exam_detail', exam.slug) }}">{{ exam.name }}</a>
                        </td>
                        <td class="category">
                            {% if exam.category %}
                                {{ exam.category.full_name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="province">
                            {% if exam.province %}
                                {{ exam.province.name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="year">{{ exam.year }}</td>
                        <td class="problems">{{ exam.problem_count }}</td>
                        <td class="progress">
                            {% if request.user.is_authenticated and exam.display_total > 0 %}
                                <div class="exam-progress">
                                    <span class="progress-text">{{ exam.user_earned|floatformat(0) }}/{{ exam.display_total|floatformat(0) }}</span>
                                    <div class="progress-track">
                                        <div class="progress-indicator" style="width: {{ (exam.user_earned / exam.display_total * 100)|floatformat(0) }}%"></div>
                                    </div>
                                </div>
                            {% else %}
                                {{ exam.total_points|floatformat(0) }} {{ _('pts') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if page_obj.has_other_pages() %}
        <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}
{% endblock %}
