<div class="sidebox">
    <h3>{{ _('Exam search') }} <i class="fa fa-search"></i></h3>
    <div class="sidebox-content">
        <form id="filter-form" name="form" action="" method="get">
            <div>
                <input id="search" type="text" name="q" value="{{ search_query or '' }}"
                       placeholder="{{ _('Search exams...') }}">
            </div>
            <div class="filter-form-group">
                <label for="exam_category"><i>{{ _('Category') }}</i></label>
                <select id="exam_category" name="exam_category">
                    <option value="">{{ _('All') }}</option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}"{% if selected_category and cat.id|string == selected_category|string %} selected{% endif %}>
                            {{ cat.full_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form-group">
                <label for="province"><i>{{ _('Province') }}</i></label>
                <select id="province" name="province">
                    <option value="">{{ _('All') }}</option>
                    {% for prov in provinces %}
                        <option value="{{ prov.id }}"{% if selected_province and prov.id|string == selected_province|string %} selected{% endif %}>
                            {{ prov.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form-group">
                <label for="year"><i>{{ _('Year') }}</i></label>
                <select id="year" name="year">
                    <option value="">{{ _('All') }}</option>
                    {% for y in years %}
                        <option value="{{ y }}"{% if selected_year and y|string == selected_year|string %} selected{% endif %}>
                            {{ y }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-submit-group">
                <a id="go" class="button">{{ _('Go') }}</a>
            </div>
        </form>

        <script>
            $(function () {
                var $form = $('form#filter-form');
                var $search = $('#search');

                function clean_submit() {
                    $search.prop('disabled', !$search.val());
                    $form.submit();
                }

                $('#exam_category, #province, #year').select2({
                    theme: '{{ DMOJ_SELECT2_THEME }}'
                });

                $search.keypress(function (e) {
                    if (e.keyCode == 13)
                        $('#go').click();
                });

                $('#go').click(clean_submit);
            });
        </script>
    </div>
</div>
