{% extends "tabs-base.html" %}

{% block header_icon %}fa-trophy{% endblock %}

{% block header_title %}{{ contest.name }}{% endblock %}

{% block header_subtitle %}
    <span class="problem-header-subtitle">
        {% if contest.start_time %}
            {{ contest.start_time|date(_("M j, Y, G:i")) }}
            &bull;
            {% if contest.time_limit %}
                {{ contest.time_limit|timedelta('localized-no-seconds') }}
            {% else %}
                {{ contest.contest_window_length|timedelta('localized-no-seconds') }}
            {% endif %}
        {% endif %}
    </span>
{% endblock %}

{% block extra_header_actions %}
    {% if request.user.is_authenticated %}
        {% if contest.can_join or contest.require_registration or is_editor or is_tester %}
            {% if contest.ended %}
                {# Allow users to leave the virtual contest #}
                {% if is_in_contest %}
                    <form action="{{ url('contest_leave', contest.key) }}" method="post" class="contest-action-form">
                        {% csrf_token %}
                        <button type="submit" class="leaving-forever contest-header-btn btn-danger">
                            <i class="fa fa-sign-out"></i> <span>{{ _('Leave contest') }}</span>
                        </button>
                    </form>
                {% elif not contest.disallow_virtual %}
                    {# Allow users to virtual join #}
                    <form action="{{ url('contest_join', contest.key) }}" method="post" class="contest-action-form">
                        {% csrf_token %}
                        <button type="submit" class="contest-join contest-header-btn btn-primary">
                            <i class="fa fa-play"></i> <span>{{ _('Virtual join') }}</span>
                        </button>
                    </form>
                {% endif %}
            {% else %}
                {# Allow users to leave the contest #}
                {% if is_in_contest %}
                    <form action="{{ url('contest_leave', contest.key) }}" method="post" class="contest-action-form">
                        {% csrf_token %}
                        <button type="submit" class="contest-header-btn btn-warning">
                            {%- if request.participation.spectate %}
                                <i class="fa fa-eye-slash"></i> <span>{{ _('Stop spectating') }}</span>
                            {% else %}
                                <i class="fa fa-sign-out"></i> <span>{{ _('Leave contest') }}</span>
                            {% endif %}
                        </button>
                    </form>
                {% elif is_editor or is_tester or live_participation.ended %}
                    <form action="{{ url('contest_join', contest.key) }}" method="post" class="contest-action-form">
                        {% csrf_token %}
                        <button type="submit" class="contest-join contest-header-btn btn-secondary">
                            <i class="fa fa-eye"></i> <span>{{ _('Spectate contest') }}</span>
                        </button>
                    </form>
                {% else %}
                    {% if contest.can_join and (has_joined or not contest.require_registration or contest.can_register) %}
                        <form action="{{ url('contest_join', contest.key) }}" method="post" class="contest-action-form">
                            {% csrf_token %}
                            <button type="submit" class="contest-join contest-header-btn btn-primary {% if not has_joined %}first-join{% endif %}">
                                <i class="fa fa-sign-in"></i> <span>{{ _('Join contest') }}</span>
                            </button>
                        </form>
                    {% elif contest.can_register and not has_joined %}
                        <form action="{{ url('contest_register', contest.key) }}" method="post" class="contest-action-form">
                            {% csrf_token %}
                            <button type="submit" class="register-warning contest-header-btn btn-success">
                                <i class="fa fa-check-square-o"></i> <span>{{ _('Register') }}</span>
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% elif (contest.can_join and not contest.require_registration) or contest.can_register %}
        <form action="{{ url('auth_login') }}" method="get" class="contest-action-form">
            <input type="hidden" name="next" value="{{ LOGIN_RETURN_PATH|urlencode }}">
            <button type="submit" class="contest-header-btn btn-primary">
                <i class="fa fa-sign-in"></i> <span>{{ _('Log in to participate') }}</span>
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block tabs %}
    {{ make_tab('detail', 'fa-info-circle', url('contest_view', contest.key), _('Info')) }}
    {% if can_edit %}
        {{ make_tab('stats', 'fa-pie-chart', url('contest_stats', contest.key), _('Statistics')) }}
    {% endif %}

    {% if contest.start_time <= now or perms.judge.see_private_contest %}
        {% if contest.can_see_own_scoreboard(request.user) %}
            {{ make_tab('ranking', 'fa-bar-chart', url('contest_ranking', contest.key), _('Rankings')) }}
            {% if contest.csv_ranking and contest.csv_ranking != contest.HAS_GHOST_PARTICIPATION %}
                {{ make_tab('official_ranking', 'fa-bar-chart', url('contest_official_ranking', contest.key), _('Official Rankings')) }}
            {% endif %}
        {% else %}
            {{ make_tab('ranking', 'fa-bar-chart', None, _('Hidden Rankings')) }}
        {% endif %}
        {{ make_tab('submissions', 'fa-bar-chart', url('contest_all_submissions', contest.key), _('Submissions')) }}
    {% endif %}
    {% if can_edit %}
        {% if perms.judge.moss_contest and has_moss_api_key %}
            {{ make_tab('moss', 'fa-gavel', url('contest_moss', contest.key), _('MOSS')) }}
        {% endif %}
        {{ make_tab('edit', 'fa-edit', url('contest_edit', contest.key), _('Edit')) }}
    {% endif %}
    {% if perms.judge.clone_contest and can_edit %}
        {{ make_tab('clone', 'fa-copy', url('contest_clone', contest.key), _('Clone')) }}
    {% endif %}
{% endblock %}
