{% extends "common-content.html" %}

{% block media %}
    <link rel="stylesheet" href="{{ static('libs/nouislider.min.css') }}">
    <noscript>
        <style>#category, #types, #org-tags {
            visibility: visible;
        }
        </style>
    </noscript>
    <style>
        #problem-table th {
            padding: 0;
        }
        label[for="org-tags"] {
            padding-bottom: 0.25em;
            display: block;
        }
        #org-tags {
            width: 100%;
            visibility: hidden;
        }
    </style>
{% endblock %}

{% block js_media %}
    <script>
        window.point_start = {{point_start}};
        window.point_end = {{point_end}};
        window.point_values = {{point_values|json|safe}};
    </script>
    {% compress js %}
        <script src="{{ static('libs/nouislider.min.js') }}" type="text/javascript"></script>
        <script>
            $(function () {
                var $form = $('form#filter-form');
                var $search = $('#search');
                var $category = $('#category');

                function prep_form() {
                    // disable point range when searching
                    $('#point-start').prop('disabled', !!$search.val());
                    $('#point-end').prop('disabled', !!$search.val());
                    $search.prop('disabled', !$search.val());
                    $category.prop('disabled', !$category.val());
                }

                function clean_submit() {
                    prep_form();
                    $form.submit();
                }

                $category.select2({
                    theme: '{{ DMOJ_SELECT2_THEME }}'
                }).css({'visibility': 'visible'}).change(clean_submit);
                $('#types').select2({
                    theme: '{{ DMOJ_SELECT2_THEME }}',
                    multiple: 1, placeholder: {{ _('Filter by type...')|htmltojs }}
                }).css({'visibility': 'visible'});
                $('#org-tags').select2({
                    theme: '{{ DMOJ_SELECT2_THEME }}',
                    multiple: 1, placeholder: {{ _('Filter by tag...')|htmltojs }}
                }).css({'visibility': 'visible'});

                // This is incredibly nasty to do but it's needed because otherwise the select2 steals the focus
                $search.keypress(function (e) {
                    if (e.keyCode == 13)
                        $('#go').click();
                });

                $('#random').click(function (e) {
                    var action = $form.attr('action');
                    var random_url = '{% if show_org_tags %}{{ url('problem_random_organization', organization.slug) }}{% else %}{{ url('problem_random') }}{% endif %}';
                    $form.attr('action', random_url).attr('target', '_blank').submit();
                    $form.attr('action', action).attr('target', '');
                    e.preventDefault();
                });

                $('#go').click(clean_submit);

                $('input#full_text, input#hide_solved, input#show_types, input#has_public_editorial').click(function () {
                    prep_form();
                    ($('<form>').attr('action', window.location.pathname + '?' + $form.serialize())
                        .append($('<input>').attr('type', 'hidden').attr('name', 'csrfmiddlewaretoken')
                            .attr('value', $.cookie('csrftoken')))
                        .attr('method', 'POST').appendTo($('body')).submit());
                });

                var info_float = $('.info-float');
                var container = $('#content-right');
                if (!featureTest('position', 'sticky')) {
                    fix_div(info_float, 55);
                    $(window).resize(function () {
                        info_float.width(container.width());
                    });
                    info_float.width(container.width());
                }

                var intFormatter = {
                    to: function (value) {
                        return value;
                    },
                    from: function (value) {
                        return +value;
                    }
                };
                var $slider = $('#point-slider');
                if ($slider.length) {
                    var $start = $('#point-start');
                    var $end = $('#point-end');

                    noUiSlider.create($slider[0], {
                        start: [point_start, point_end],
                        connect: true,
                        snap: true,
                        tooltips: [intFormatter, intFormatter],
                        range: point_values
                    }).on('change', function (values) {
                        var start = +values[0], end = +values[1];
                        $start.prop('disabled', start === point_values.min).val(start);
                        $end.prop('disabled', end === point_values.max).val(end);
                    });
                }
            });
        </script>
    {% endcompress %}
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'list' %}
    {% include "problem/problem-list-tabs.html" %}
{% endblock %}

{% block body %}
    {% if page_obj and page_obj.paginator %}
        <div class="top-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}

    <div id="common-content">
        {% block before_table %}{% endblock %}
        <div id="content-right" class="problems filter-collapsible">
            <div class="info-float">
                {% include "problem/search-form.html" %}
                {% if hot_problems %}
                    <div class="sidebox">
                        <h3>{{ _('Hot problems') }} <i class="fa fa-fire"></i></h3>
                        <div class="sidebox-content">
                            <ul class="problem-list">{% for problem in hot_problems %}
                                <li><a href="{{ url('problem_detail', problem.code) }}" class="hot-problem-link">
                                    {{ problem.name }}
                                </a></li>
                            {% endfor %}</ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="content-left" class="problems h-scrollable-table">
            <div class="problem-table-card">
                <table id="problem-table" class="table striped">
                    <thead>
                    <tr>
                        <th class="status-col">
                            <span class="status-circle-th"></span>
                        </th>
                        <th class="problem-code">
                            <a href="{{ sort_links.code }}">{{ _('ID') }}{{ sort_order.code}}</a>
                        </th>
                        <th class="problem-name">
                            <a href="{{ sort_links.name }}">{{ _('Problem') }} <i class="fa fa-sort sort-caret"></i></a>
                        </th>
                        {% if not show_org_tags %}
                        <th class="category">
                            <a href="{{ sort_links.group }}">{{ _('Category') }}{{ sort_order.group }}</a>
                        </th>
                        {% endif %}
                        {% if show_types %}
                            <th class="types">
                                <a href="{{ sort_links.type }}">{{ _('Types') }}{{ sort_order.type }}</a>
                            </th>
                        {% endif %}
                        <th class="points">
                            <a href="{{ sort_links.points }}">{{ _('Points') }} <i class="fa fa-sort sort-caret"></i></a>
                        </th>
                        <th class="ac-rate">
                            <a href="{{ sort_links.ac_rate }}">{{ _('%% AC') }} <i class="fa fa-sort sort-caret"></i></a>
                        </th>
                        <th class="users">
                            <a href="{{ sort_links.user_count }}">{{ _('# AC') }} <i class="fa fa-sort sort-caret"></i></a>
                        </th>
                        <th class="editorial" title="{{ _('Editorial') }}">
                            <a href="{{ sort_links.editorial }}">
                                <svg class="book-open-icon" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for problem in problems %}
                        <tr>
                            <td class="status-col">
                                {% if request.user.is_authenticated %}
                                    {% if problem.id in completed_problem_ids %}
                                        <a href="{{ url('user_submissions', problem.code, request.user.username) }}" class="status-circle solved" title="{{ _('Solved') }}">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    {% elif problem.id in attempted_problems %}
                                        <a href="{{ url('user_submissions', problem.code, request.user.username) }}" class="status-circle attempted" title="{{ _('Attempted') }}"></a>
                                    {% else %}
                                        <span class="status-circle unsolved" title="{{ _('Unsolved') }}"></span>
                                    {% endif %}
                                {% else %}
                                    <span class="status-circle unsolved" title="{{ _('Unsolved') }}"></span>
                                {% endif %}
                            </td>
                            <td class="problem-code">
                                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.code}}</a>
                            </td>
                            <td class="problem-name">
                                <a href="{{ url('problem_detail', problem.code) }}" class="problem-title-link">{{ problem.i18n_name or problem.name }}</a>
                            </td>
                            {% if not show_org_tags %}
                            <td class="category">{{ problem.group.full_name }}</td>
                            {% endif %}
                            {% if show_types %}
                                <td class="types">
                                    {% for type in problem.types_list %}
                                        <span class="type-tag">{{ type }}</span>{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            {% endif %}
                            <td class="points points-val">{{ problem.points|floatformat(0) if problem.points == problem.points|int else problem.points|floatformat(2) }}</td>
                            <td class="ac-rate {% if problem.ac_rate >= 50 %}ac-high{% elif problem.ac_rate >= 20 %}ac-med{% else %}ac-low{% endif %}">{{ problem.ac_rate|floatformat(1) }}%</td>
                            <td class="users">
                                <a href="{{ url('ranked_submissions', problem.code) }}" class="ac-count-link">
                                    {{ problem.user_count }}
                                </a>
                            </td>
                            <td class="editorial-col">
                                {% if problem.has_public_editorial %}
                                    <a href="{{ url('problem_editorial', problem.code) }}" title="{{ _('Editorial') }}">
                                        <svg class="book-open-icon has-editorial" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                                    </a>
                                {% else %}
                                    <svg class="book-open-icon no-editorial" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" title="{{ _('No editorial available') }}"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if page_obj and page_obj.has_other_pages() %}
        <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}
    <script>
        $(function() {
            var hasFilter = window.location.search.indexOf('search=') !== -1 ||
                            window.location.search.indexOf('category=') !== -1 ||
                            window.location.search.indexOf('type=') !== -1 ||
                            window.location.search.indexOf('point_start=') !== -1;
            if (hasFilter) {
                $('#content-right').show();
                $('#toggle-filter-btn').addClass('active');
            }

            $('#toggle-filter-btn').on('click', function(e) {
                e.preventDefault();
                $('#content-right').slideToggle(200);
                $(this).toggleClass('active');
            });
            $('#recommend-btn').on('click', function(e) {
                e.preventDefault();
                $('#random').click();
            });
        });
    </script>
{% endblock %}
