{% extends "tabs-base.html" %}

{% block header_icon %}{% if tab == 'recommended' %}fa-lightbulb-o{% else %}fa-newspaper-o{% endif %}{% endblock %}

{% block header_title %}
    {%- if tab == 'recommended' -%}
        {{ _('Recommended Problems') }}
    {%- else -%}
        {{ _('News & Announcements') }}
    {%- endif -%}
{% endblock %}

{% block header_subtitle %}
    <span class="problem-header-subtitle">
        {%- if tab == 'recommended' -%}
            {{ _('Discover unsolved problems tailored for your practice') }}
        {%- else -%}
            {{ _('Updates, announcements and articles') }}
        {%- endif -%}
    </span>
{% endblock %}

{% block tabs %}
    {{ make_tab('home', 'fa-newspaper-o', newsfeed_link, _('News')) }}
    {{ make_tab('blog_list', 'fa-rss', all_blogs_link, _('Blog')) }}
    {{ make_tab('recommended', 'fa-lightbulb-o', recommended_link, _('Recommended')) }}
{% endblock %}

