{% macro make_tab(name, fa, url, text) %}
    {% if url %}
        <a href="{{ url }}" class="seg-btn{% if tab == name %} active{% endif %}">
            <i class="fa {{ fa }}"></i> <span>{{ text }}</span>
        </a>
    {% else %}
        <span class="seg-btn{% if tab == name %} active{% endif %}">
            <i class="fa {{ fa }}"></i> <span>{{ text }}</span>
        </span>
    {% endif %}
{% endmacro %}

<div class="problem-list-header">
    <div class="problem-header-left">
        <div class="problem-header-icon">
            <i class="fa {% block header_icon %}fa-th-large{% endblock %}"></i>
        </div>
        <div class="problem-header-title-block">
            <h1 class="problem-header-title">{% block header_title %}{{ content_title or title }}{% endblock %}</h1>
            {% block header_subtitle %}{% endblock %}
        </div>
    </div>
    <div class="problem-header-actions">
        {% block extra_header_actions %}{% endblock %}
        <div class="header-segmented-control">
            {% block tabs %}{% endblock %}
        </div>
    </div>
</div>
{% block post_tab_spacer %}{% endblock %}
